{% extends 'base.html' %}

{% block content %}

<div class="container mt-4">

<div class="card">

<div class="card-header bg-success text-white">
<h3>Check Assignment</h3>
</div>

<div class="card-body">

<h4>{{ submission.assignment.title }}</h4>

<p>
Student :
{{ submission.student.user.get_full_name }}
</p>

<a
href="{{ submission.submission_file.url }}"
class="btn btn-primary"
target="_blank">

Download Submission

</a>

<hr>

<form method="POST">

{% csrf_token %}

<div class="mb-3">

<label>Marks</label>

<input
type="number"
name="marks_obtained"
class="form-control"
max="{{ submission.assignment.total_marks }}"
value="{{ submission.marks_obtained|default:'' }}"
required>

</div>

<div class="mb-3">

<label>Remarks</label>

<textarea
name="remarks"
class="form-control"
rows="5"></textarea>

</div>

<button class="btn btn-success">

Save Evaluation

</button>

</form>

</div>

</div>

</div>

{% endblock %}