{% extends "base/layout.html" %}

{% block title %}Attendance Reports - SMS{% endblock %}
{% block page_title %}Attendance Reports{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4>Attendance Reports</h4>
                </div>
                <div class="card-body">
                    <p>Attendance reports will appear here.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
